<!-- <p-toggleButton onLabel="활성화" offLabel="비활성화" [(ngModel)]="enableMode" (onChange)='EnableMode()'></p-toggleButton>
<p-dropdown [options]="modes" [(ngModel)]="selectedMode" optionLabel="modeName" placeholder="수정모드 선택" (onChange)="ModeChange()"></p-dropdown>
<p-dropdown [options]="originPointModes" [(ngModel)]="selectedOriginPointMode" optionLabel="modeName" placeholder="기준축 선택" (onChange)="OriginPointChange()"></p-dropdown>
<p-toggleButton onLabel="X축보이기" offLabel="X축숨기기" [(ngModel)]="enableXAxis" (onChange)='CheckAxis()'></p-toggleButton>
<p-toggleButton onLabel="Y축보이기" offLabel="Y축숨기기" [(ngModel)]="enableYAxis" (onChange)='CheckAxis()'></p-toggleButton>
<p-toggleButton onLabel="Z축보이기" offLabel="Z축숨기기" [(ngModel)]="enableZAxis" (onChange)='CheckAxis()'></p-toggleButton> -->
<div #mapcanvas style=" width:100%; height:800px;" ></div>